.container {
  height: 100vh;
  background-image: linear-gradient(
    270deg,
    var(--color-primary),
    var(--color-secondary)
  );
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 16px 0;
}

.icon {
  color: var(--color-background);
  width: 150px;
  height: 150px;
}

.title {
  font-size: var(--font-l);
}

.description {
  font-size: var(--font-m);
}

@media (min-width: 768px) {
  .title {
    font-size: var(--font-xl);
  }

  .description {
    font-size: var(--font-l);
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 48px 0;
  }

  .icon {
    width: 200px;
    height: 200px;
  }

  .title {
    font-size: var(--font-xxl);
  }

  .description {
    font-size: var(--font-xl);
  }
}
