.container {
  gap: 48px 0;
}

.icon {
  width: 100px;
  height: 100px;
}

.title {
  width: 300px;
  font-size: var(--font-l);
}

@media (min-width: 768px) {
  .title {
    width: 600px;
    font-size: var(--font-xl);
  }
}

@media (min-width: 1024px) {
  .icon {
    width: 120px;
    height: 120px;
  }

  .title {
    width: 1000px;
    font-size: var(--font-xxl);
  }
}
