.container {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 48px 0;
}

.icon {
  width: 100px;
  height: 100px;
}

.icon,
.title {
  color: var(--color-background);
}

.title {
  max-width: 80%;
  font-size: var(--font-l);
}

@media (min-width: 768px) {
  .title {
    max-width: 60%;
    font-size: var(--font-xl);
  }
}

@media (min-width: 1024px) {
  .icon {
    width: 120px;
    height: 120px;
  }

  .title {
    max-width: 50%;
    font-size: var(--font-xxl);
  }
}
