.container {
  background-image: linear-gradient(
    270deg,
    var(--color-primary),
    var(--color-secondary)
  );
  gap: 16px 0;
}

.icon {
  width: 150px;
  height: 150px;
}

.title {
  font-size: var(--font-l);
}

@media (min-width: 768px) {
  .title {
    font-size: var(--font-xl);
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 48px 0;
  }

  .icon {
    width: 200px;
    height: 200px;
  }

  .title {
    font-size: var(--font-xxl);
    width: auto;
  }
}
